/**
 * @name Animated Text/Voice Channels
 * @description Adds an animation when you hover over text/voice channels
 * @author LT Snipes smh
 * @version 1.0
 */
.mainContent-20q_Hp:hover {animation: UserModalButtons 0.5s normal ease;}
.mainContent-20q_Hp {width: 100px;opacity: 1;}
  .mainContent-20q_Hp {transition: 1s;}
  .mainContent-20q_Hp {padding-bottom: 4px;transition: 0.2;}
  @keyframes UserModalButtons {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0px);
    }
  }